bin/
dist/
client-dist/
build/
client-build/
*.log
*.log.*
.settings
.eclipse
executeLog*
*.pyc
*.class
productionLog
*~


# IDEs
nbproject/
nb-build.xml
.idea/
apache-tomcat*
prefixed
failures.list
*.jks
*.iml
out/
.gradle/

# Generated BlueGenes file
webapp/tools

# Docker secrets
secrets/

# Dev env flag file
dev_env

# Compiled JARs for each source
sources_jars